/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
.air-datepicker {
  border: none !important;
}

.dropdown-content {
  border: 1px solid lightgray;
  margin-top: 4px;
}

.margin {
  margin: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ember-air-date-picker .ember-basic-dropdown-content {
  min-width: 245px;
}
